<template>
  <container>
    <nuxt/>
  </container>
</template>

<script>
  import * as grid from '~/components/grid'
  export default {
    components: {
      ...grid
    }
  }
</script>

<style>

</style>
